@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --darkblue: #1F2937;
    --lightblue: #3882F6;
    --white1: #E5E7EB;
    --white2: #F9FAF8;

}

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

header, .hero {
    background-color: var(--darkblue);
    color: var(--white2);
}

li a, .hero .text {
    color: var(--white1);
}

button {
    padding: 8px 24px;
    border-radius: 8px;
    background-color: var(--lightblue);
    color: var(--white1);
    font-weight: bold;
} 

/* Header */

header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 20px;
    padding: 0;
    gap: 16px;
}

li a{
    text-decoration: none;
}

.logo, .links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Section Hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heroo h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.heroo {
    width: 26%;
    text-align: left;
    text-transform: none;
    position: relative;
    margin-right: -250px;
}

.heroo .text {
    margin-bottom: 8px;
}

#button1 {
    border: none;
}

img {
    height: 500px;
    width: auto;
    margin-bottom: 10%;
}

/* Section akali-pics */

.akali-pics .container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.akali-pics img {
    height: 400px;

}

.akali-pics .title {
    font-size: 36px;
    font-weight: bold;
    color: var(--darkblue);
    text-align: center;
    padding: 30px 20px;
}
